<section class="form-container">
    <h2>{{ title }}</h2>

    <form class="atleta-form" (ngSubmit)="salvar()">
        <label>
            Nome
            <input 
            type="text" 
            name="nome" 
            [(ngModel)]="atleta.nome" 
            placeholer="Cristiano Ronaldo"/>
        </label>
        <label>
            Idade
            <input 
            type="number" 
            name="idade" 
            [(ngModel)]="atleta.idade" 
            placeholer="41"/>
        </label>
        <label>
            Nacionalidade
            <input 
            type="text" 
            name="nacionalidade" 
            [(ngModel)]="atleta.nacionalidade" 
            placeholer="Português"/>
        </label>
        <label>
            Esporte
            <input 
            type="text" 
            name="esporte" 
            [(ngModel)]="atleta.esporte" 
            placeholer="Futebol"/>
        </label>
        <button type="submit">Salvar</button>
    </form>
</section>