<section class="form-container">
    <h2>{{ title }}</h2>

    <form class="atleta-form" (ngSubmit)="salvar()">
        <label>
            <h3>Nome</h3>
            <input type="text" name="nome" [(ngModel)]="atleta.nome" required placeholer="Cristiano Ronaldo" />
        </label>
        <label>
            <h3>Idade</h3>
            <input type="number" name="idade" [(ngModel)]="atleta.idade" min="0" required placeholer="41" />
        </label>
        <label>
            <h3>Nacionalidade</h3>
            <input type="text" name="nacionalidade" [(ngModel)]="atleta.nacionalidade" required
                placeholer="Português" />
        </label>
        <label>
            <h3>Esporte</h3>
            <input type="text" name="esporte" [(ngModel)]="atleta.esporte" required placeholer="Futebol" />
        </label>
        <label>
            <div class="checkbox-container">
                <h3>Está em atividade?</h3>
                <input type="checkbox" name="emAtividade" [(ngModel)]="atleta.emAtividade" />
            </div>
        </label>
        @if (mensagemErro) {
        <p class="erro-validacao">{{ mensagemErro }}</p>
        }
        <button type="submit">Salvar</button>
    </form>
</section>